@font-face {
  font-family: 'JosefinSans-Regular';
  src: url(../font/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: 'JosefinSans-Bold';
  src: url(../font/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url(../font/JosefinSans-Light.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-Light_0';
  src: url(../font/Montserrat-Light_0.otf);
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url(../font/Montserrat-Italic.ttf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../font/Montserrat-Regular.ttf);
}

.row {
  margin: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_betwen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style: none;
}

.bgr_color {
  background-color: #002653 !important;
}

.contact_sticky {
  position: fixed;
  left: 3%;
  bottom: 6%;
  z-index: 99999;
  color: #80868D;
}

.contact_sticky h2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Regular', sans-serif;
}

.contact_sticky .list_icon {
  text-align: center;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_sticky .list_icon a {
  display: inline;
}

.contact_sticky .list_icon a {
  color: #80868D;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact_sticky .list_icon a:hover {
  color: #fff;
}

.line3 {
  height: 50px;
  width: 3px;
  background-color: #fff;
}

.scroll_page {
  position: fixed;
  right: 3%;
  bottom: 6%;
  z-index: 999;
  color: #80868D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.scroll_page h2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Regular', sans-serif;
}

.scroll_page .line3 {
  margin-top: 50px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  background-color: #2EBD7F;
  margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  margin: 2px;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  margin: 0;
}

#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .container {
  max-width: 90%;
}

#header .container .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

#header .container .flex .flex h5 {
  padding-right: 10px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Light', sans-serif;
  margin: 0;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

#header .container .flex .flex .close_navmenu {
  display: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'JosefinSans-Light', sans-serif;
  margin: 0;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

#header img {
  max-width: 70%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn-nav-container {
  width: 90px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}

.btn-nav {
  width: 100%;
  height: 1px;
  position: relative;
  background: #fff;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #ffffff;
}

.btn-nav:before,
.btn-nav:after {
  content: '';
  position: absolute;
  left: 0;
  background: #fff;
  height: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn-nav:before {
  width: 50%;
}

.btn-nav:after {
  width: 75%;
}

.btn-nav-container:hover .btn-nav:before,
.btn-nav-container:hover .btn-nav:after {
  width: 100%;
}

.btn-nav-container.close-menu .btn-nav {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-nav-container.close-menu .btn-nav:after {
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.btn-nav-container.close-menu .btn-nav:before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 100%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: #fff;
}

.float-nav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.float-nav .menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.float-nav ul {
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0;
}

.float-nav ul:first-child {
  margin-right: 200px;
}

.float-nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
  -webkit-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
}

.float-nav ul li:last-child {
  margin-bottom: 0;
}

.float-nav ul li:hover {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.float-nav ul li a {
  text-decoration: none;
  font-family: 'JosefinSans-Regular';
  font-size: 32px;
  position: relative;
  color: #979894;
}

.float-nav ul li a:hover {
  text-decoration: none;
  color: #2EBD7F;
}

.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 39, 67, 0.6);
  top: 0;
  left: 100%;
  -webkit-transition: all 0.7s ease 0.3s;
  transition: all 0.7s ease 0.3s;
}

.float-nav .bg2 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
}

.float-nav .bg2::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-filter: blur(5px);
}

.float-nav .bg2::after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.float-nav .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: none;
}

.float-nav ul .float-nav ul li .float-nav ul li .float-nav ul li a:before {
  content: '';
  position: absolute;
  right: 100%;
  margin-right: 11px;
  top: 2px;
  width: 2px;
  height: 100%;
  background: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.float-nav ul li:hover a:before,
.float-nav ul li:hover a:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}

.float-nav.active .bg1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.float-nav.active .bg2 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.float-nav.active ul {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#openning_page {
  position: relative;
  width: 100%;
  height: 100vh;
}

#openning_page img {
  width: 100%;
  height: 100vh;
}

#openning_page .bgr_openning_pahe {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

#openning_page .bgr_openning_pahe::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#openning_page .bgr_openning_pahe::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#openning_page .content_openning_page {
  text-align: center;
}

#openning_page .content_openning_page h5 {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Light', sans-serif;
}

#openning_page .content_openning_page h2 {
  color: #ffffff;
  font-size: 54px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Bold', sans-serif;
}

#openning_page .content_openning_page h6 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Montserrat-Light_0', sans-serif;
}

.bgr {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bgr::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-filter: blur(5px);
}

.bgr::after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.title h2 {
  font-size: 80px;
  line-height: 0.8em;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #002148;
  margin-top: 20px;
  text-shadow: -1px -1px 0 #808E9A, 1px -1px 0 #808E9A, -1px 1px 0 #808E9A, 1px 1px 0 #808E9A;
}

.title h6 a {
  font-size: 18px;
  text-transform: uppercase;
  color: #808E9A;
  font-family: 'JosefinSans-Regular', sans-serif;
}

.title h6 a:hover {
  text-decoration: none;
}

#about {
  width: 100%;
  height: 100vh;
  position: relative;
}

#about .title h2 {
  margin-bottom: 60px;
}

#about .content_about {
  color: #ffffff;
}

#about .content_about i {
  font-size: 12px;
  margin-left: 10px;
}

#about .content_about h5 {
  font-size: 27px;
  font-family: 'JosefinSans-Regular', sans-serif;
}

#about .content_about h5 img {
  width: 9%;
}

#about .content_about h5:nth-child(2) {
  position: relative;
  margin-bottom: 48px;
}

#about .content_about img {
  width: 30%;
  margin-bottom: 30px;
}

#about .content_about .flex h5,
#about .content_about .flex h6 {
  font-size: 14px;
}

#about .content_about .flex h5 {
  color: #1FD5DC;
  margin-right: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
}

#about .content_about .flex h6 {
  max-width: 300px;
  font-family: 'Montserrat-Italic', sans-serif;
}

#about .col-12 {
  margin-bottom: 40px;
}

#about p {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}

#experts {
  width: 100%;
  height: 100vh;
  position: relative;
}

#experts .title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content_experts {
  width: 100%;
  padding: 5px 0px 20px 0px;
  position: relative;
}

#content_experts img {
  width: 100%;
}

.c-slider {
  width: 100%;
  margin: 20px 0px 0px;
}

.c-slider__frame {
  height: 372px;
}

.c-slider__cont {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}

.c-slider__item {
  float: left;
  max-width: 239px;
  height: 100%;
  margin: 0px 20px;
  color: #3a3c47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.c-slider__item a {
  color: #fff;
  text-decoration: none;
}

.c-slider__item h5,
.c-slider__item h6 {
  text-align: center;
  text-transform: uppercase;
}

.c-slider__item h5 {
  font-size: 14px;
  font-family: 'Montserrat-Light_0', sans-serif;
}

.c-slider__item h6 {
  font-size: 16px;
  margin-top: 20px;
  font-family: 'JosefinSans-Bold', sans-serif;
}

.c-slider .scrollbar {
  width: 30%;
  height: 3px;
  background: #63635C;
  line-height: 0;
  opacity: .9;
  position: relative;
  left: 50%;
  bottom: -49px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-slider .scrollbar .handle {
  width: 50px;
  height: 5px;
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: -1px;
}

.c-slider .scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 12%;
  height: 20px;
}

.c-slider__item {
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.c-slider__item a {
  overflow: hidden;
}

.c-slider__item img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.c-slider__item figcaption {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-slider__item h2,
.c-slider__item p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, transform 0.35s;
}

.c-slider__item h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.c-slider__item p {
  font-weight: 200;
  font-size: 14px;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.c-slider__item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bgr_img {
  position: relative;
}

.bgr_img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.bgr_img::before {
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8CE99C), to(#0AAFD6));
  background-image: linear-gradient(#8CE99C, #0AAFD6);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: .5s;
  transition: .5s;
}

.c-slider__item:hover .bgr_img img {
  -webkit-filter: unset;
          filter: unset;
}

.c-slider__item:hover .bgr_img::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.c-slider__item:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  font-family: 'Montserrat-Regular', sans-serif;
}

.c-slider__item:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  font-family: 'Montserrat-Regular', sans-serif;
}

.c-slider__item:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#courses {
  width: 100%;
  height: 100vh;
  position: relative;
}

#courses .title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#courses .slide_courses .col-lg-7 {
  padding-right: 123px;
}

#courses .slide_courses h5 {
  font-size: 30px;
  color: #fff;
  max-width: 400px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Bold', sans-serif;
}

#courses .slide_courses .flex {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 40px;
}

#courses .slide_courses .flex:first-child p {
  font-family: 'Montserrat-Light_0', sans-serif;
}

#courses .slide_courses .flex:last-child p {
  font-family: 'Montserrat-Bold', sans-serif;
}

#courses .slide_courses .flex i {
  margin-right: 10px;
}

#courses .slide_courses .flex p {
  margin: 0;
  font-family: 'Montserrat-Light_0', sans-serif;
}

#courses .slide_courses p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat-Bold', sans-serif;
}

.btn-hover:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.btn-hover.color-6 {
  background-image: -webkit-gradient(linear, left top, right top, from(#86FAA6), color-stop(#15D1F0), color-stop(#00A8C5), to(#86FAA6));
  background-image: linear-gradient(to right, #86FAA6, #15D1F0, #00A8C5, #86FAA6);
  -webkit-box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
          box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.slick-dots {
  position: absolute;
  bottom: -36px;
  list-style: none;
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 3px;
  width: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  opacity: 0.5;
}

.slick-dots li span:last-child {
  display: none;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 3px;
  width: 30px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: #ffffff;
  opacity: 1;
}

#happitopia_hub {
  width: 100%;
  height: 100vh;
  position: relative;
}

#happitopia_hub .bgr_happitopia_hub {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#happitopia_hub .bgr_happitopia_hub::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

#happitopia_hub .bgr_happitopia_hub::after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#happitopia_hub .plyr--video .plyr__control.plyr__tab-focus,
#happitopia_hub .plyr--video .plyr__control:hover,
#happitopia_hub .plyr--video .plyr__control[aria-expanded=true] {
  background-image: -webkit-gradient(linear, left top, right top, from(#86FAA6), to(#15D1F0)) !important;
  background-image: linear-gradient(to right, #86FAA6, #15D1F0) !important;
}

#happitopia_hub .plyr__control--overlaid {
  background-image: -webkit-gradient(linear, left top, right top, from(#86FAA6), to(#15D1F0)) !important;
  background-image: linear-gradient(to right, #86FAA6, #15D1F0) !important;
  top: 47%;
}

#happitopia_hub .plyr__control.plyr__tab-focus {
  -webkit-box-shadow: 0, 0, 0, 5px linear-gradient(to right, #86FAA6, #15D1F0) !important;
          box-shadow: 0, 0, 0, 5px linear-gradient(to right, #86FAA6, #15D1F0) !important;
}

#happitopia_hub .plyr__control--overlaid:focus,
#happitopia_hub .plyr__control--overlaid:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#86FAA6), to(#15D1F0)) !important;
  background-image: linear-gradient(to right, #86FAA6, #15D1F0) !important;
}

#happitopia_hub .plyr {
  border-radius: 0 !important;
  width: 53%;
  margin: 0 auto;
}

#happitopia_hub .plyr__video-wrapper {
  opacity: .7;
}

#happitopia_hub .content_happitopia_hub {
  color: #ffffff;
}

#happitopia_hub .content_happitopia_hub h5 {
  font-size: 25px;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-family: 'JosefinSans-Regular', sans-serif;
  margin-top: 40px;
}

#happitopia_hub .content_happitopia_hub h2 {
  font-size: 50px;
  font-family: 'JosefinSans-Bold', sans-serif;
}

#happitopia_hub .content_happitopia_hub p {
  font-size: 14px;
  font-family: 'Montserrat-Light_0', sans-serif;
  max-width: 572px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#incubator {
  width: 100%;
  height: 100vh;
  position: relative;
}

#incubator .img_incubator_mobile {
  display: none;
}

#incubator .img_incubator_desktop {
  display: block;
}

#incubator .col-lg-4 img {
  width: 50%;
  margin-bottom: 30px;
}

#incubator .col-lg-4 p {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Montserrat-Light_0', sans-serif;
  margin-bottom: 40px;
}

#incubator .col-lg-8 {
  position: relative;
}

#incubator .col-lg-8 img {
  width: 70%;
  opacity: .7;
}

#incubator .col-lg-8 .img_incubator {
  position: absolute;
}

#incubator .col-lg-8 .img_incubator1 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
}

#incubator .col-lg-8 .img_incubator3 {
  top: 10%;
  right: -15%;
}

#incubator .col-lg-8 .img_incubator2 {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

#incubator .col-lg-8 .img_incubator4 {
  left: 50%;
  top: 55%;
}

#caption {
  width: 100%;
  height: 100vh;
  position: relative;
}

#caption .title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#caption .content_caption {
  margin-top: 40px;
}

#caption .content_caption img {
  width: 100%;
}

#caption .content_caption .col-lg-7 {
  position: relative;
}

#caption .content_caption .col-lg-7 .img_caption1 {
  position: absolute;
  top: 0;
  left: 0;
}

#caption .content_caption .col-lg-7 .img_caption2 {
  position: absolute;
  bottom: 0;
  left: 13%;
}

#caption .content_caption .col-lg-7 .img_caption1,
#caption .content_caption .col-lg-7 .img_caption2 {
  width: 55%;
}

#caption .content_caption .col-lg-7 .img_caption1 div,
#caption .content_caption .col-lg-7 .img_caption2 div {
  height: 100%;
  position: relative;
}

#caption .content_caption .col-lg-7 .img_caption1 div::before,
#caption .content_caption .col-lg-7 .img_caption2 div::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #000000;
  opacity: .5;
}

#caption .content_caption .col-lg-5 h5 {
  font-size: 35px;
  color: #ffffff;
  font-family: 'JosefinSans-Regular', sans-serif;
  margin-bottom: 30px;
}

#caption .content_caption .col-lg-5 p {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Montserrat-Light_0', sans-serif;
  margin-bottom: 40px;
}

#news {
  width: 100%;
  height: 100vh;
  position: relative;
}

#news .title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#news .title h2 {
  margin-top: 39px;
}

#news .content_news .col-lg-8 .form_img {
  position: relative;
  height: 390px;
}

#news .content_news .col-lg-8 .form_img img {
  width: 100%;
  height: 100%;
}

#news .content_news .col-lg-8 .form_img .category {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 35px;
  background-color: #1D1D1D;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
}

#news .content_news .col-lg-8 .form_img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
}

#news .content_news .col-lg-8 .form_img .title_news {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
}

#news .content_news .col-lg-8 .form_img .title_news h5 {
  max-width: 80%;
}

#news .content_news .col-lg-8 .form_img .title_news h5 a {
  font-size: 30px;
  color: #ffffff;
  font-family: 'JosefinSans-Regular', sans-serif;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  height: 108px;
}

#news .content_news .col-lg-8 .form_img .title_news h5 a:hover {
  text-decoration: none;
}

#news .content_news .col-lg-8 .form_img .title_news p {
  color: #ffffff;
  font-size: 11px;
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  height: 40px;
}

#news .content_news .col-lg-4 .form_img {
  position: relative;
  height: 179px;
}

#news .content_news .col-lg-4 .form_img .category {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  background-color: #1D1D1D;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
}

#news .content_news .col-lg-4 .form_img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
}

#news .content_news .col-lg-4 .form_img img {
  width: 100%;
  height: 100%;
}

#news .content_news .col-lg-4 .form_img:nth-child(1) {
  margin-bottom: 30px;
}

#news .content_news .col-lg-4 .form_img .title_news {
  position: absolute;
  left: 20px;
  bottom: 10px;
  right: 20px;
}

#news .content_news .col-lg-4 .form_img .title_news h5 {
  font-family: 'JosefinSans-Regular', sans-serif;
}

#news .content_news .col-lg-4 .form_img .title_news h5 a {
  font-size: 16px;
  color: #ffffff;
}

#news .content_news .col-lg-4 .form_img .title_news h5 a:hover {
  text-decoration: none;
}

#news .content_news .col-lg-4 .form_img .title_news p {
  font-size: 12px;
  color: #ffffff;
  font-family: "Montserrat-Regular";
  margin: 0;
}

#contact {
  width: 100%;
  height: 100vh;
  position: relative;
}

#contact .title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#contact .title h2 {
  margin-top: 40px;
}

#contact .content_contact {
  color: #ffffff;
}

#contact .content_contact .col-lg-4 h5 {
  font-size: 43px;
  margin-bottom: 30px;
  font-family: 'JosefinSans-Regular', sans-serif;
}

#contact .content_contact .col-lg-4 .line1 {
  width: 20%;
  margin-bottom: 20px;
}

#contact .content_contact .col-lg-4 h6 {
  font-size: 14px;
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
}

#contact .content_contact .col-lg-4 p {
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Montserrat-Light_0', sans-serif;
}

#contact .content_contact .col-lg-4 .flex img {
  width: 5%;
  margin-right: 10px;
}

#contact .content_contact .col-lg-4 .flex p {
  margin: 0;
}

#contact .content_contact .col-lg-4 .flex_contact {
  margin-bottom: 20px;
}

#contact .content_contact .col-lg-4 .flex_contact i,
#contact .content_contact .col-lg-4 .flex_contact img {
  margin-right: 10px;
}

#contact .content_contact .col-lg-4 .line2 {
  width: 80%;
  margin-bottom: 20px;
}

#contact .content_contact .col-lg-4 .icon_contact {
  margin-top: 30px;
}

#contact .content_contact .col-lg-4 .icon_contact a {
  color: #ffffff;
}

#contact .content_contact .col-lg-4 .icon_contact i {
  font-size: 20px;
  margin-right: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

#contact .content_contact .col-lg-4 .icon_contact i:hover {
  color: #2EBD7F;
}

#contact .content_contact .col-lg-8 {
  padding-right: 0;
}

#contact .content_contact .col-lg-8 .form-control,
#contact .content_contact .col-lg-8 textarea {
  margin-bottom: 30px;
}

#contact .content_contact .col-lg-8 .form-group {
  margin: 0;
}

#contact .form-control {
  border-radius: 0 !important;
  font-size: 12px;
}

#contact .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
}

#contact input,
#contact select {
  height: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    height: 100% !important;
    padding: 40px 0px;
  }
  .fp-tableCell {
    height: 100% !important;
    vertical-align: unset !important;
  }
  .title {
    margin-bottom: 20px;
  }
  .title h2 {
    font-size: 38px;
    letter-spacing: 5px;
    margin-top: 0;
  }
  .title h6 a {
    font-size: 14px;
  }
  .contact_sticky,
  .scroll_page {
    display: none;
  }
  .btn-hover {
    margin-bottom: 20px;
  }
  .col-12 {
    padding: 0;
  }
  #header {
    padding: 10px 15px;
  }
  #header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  #header img {
    width: 63%;
  }
  .float-nav ul:first-child {
    margin-right: 10px;
  }
  .float-nav li a {
    font-size: 20px !important;
  }
  #openning_page {
    height: 100vh !important;
  }
  #openning_page img {
    height: 100%;
  }
  #openning_page .col {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #openning_page .content_openning_page h5 {
    font-size: 25px;
  }
  #openning_page .content_openning_page h2 {
    font-size: 41px;
  }
  #openning_page .content_openning_page h6 {
    font-size: 12px;
  }
  #about .content_about .col-lg-6 {
    padding: 0;
  }
  #about .content_about .flex h5 {
    font-size: 14px;
  }
  #about .content_about .flex h6 {
    font-size: 12px;
  }
  #about .content_about .flex:last-child {
    margin-bottom: 15px;
  }
  #about .content_about h5 {
    font-size: 23px;
  }
  #about .content_about h5:nth-child(2) {
    margin-bottom: 10px;
  }
  #about .content_about h5 img {
    display: block;
  }
  #about .content_about img {
    display: none;
  }
  #about .content_about p {
    font-size: 14px;
  }
  #experts img {
    width: 100%;
  }
  #experts .c-slider__frame {
    height: 488px;
  }
  #experts .c-slider__item {
    max-width: 337px;
  }
  #experts .c-slider .scrollbar {
    width: 50%;
    bottom: 0px;
  }
  #courses {
    padding-bottom: 60px;
  }
  #courses .slide_courses .col-lg-7,
  #courses .slide_courses .col-lg-5 {
    padding: 0;
  }
  #courses .slide_courses .col-lg-5 img {
    width: 100%;
  }
  #courses .slide_courses h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex {
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex p {
    font-size: 12px;
  }
  #happitopia_hub .col {
    padding: 0;
  }
  #happitopia_hub .content_happitopia_hub h5 {
    font-size: 16px;
    letter-spacing: 10px;
    margin-top: 0;
  }
  #happitopia_hub .content_happitopia_hub h2 {
    font-size: 29px;
  }
  #happitopia_hub .content_happitopia_hub p {
    font-size: 12px;
  }
  #happitopia_hub .content_happitopia_hub .plyr {
    width: 100%;
  }
  #incubator .img_incubator_mobile {
    display: block;
  }
  #incubator .img_incubator_desktop {
    display: none;
  }
  #incubator .col-lg-8 {
    padding: 0;
  }
  #incubator .col-lg-8 img {
    width: 100%;
  }
  #incubator .col-lg-8 .col-6 {
    padding: 0;
  }
  #incubator .col-lg-8 .col-6:nth-child(1), #incubator .col-lg-8 .col-6:nth-child(3) {
    padding: 0px 7px 14px 0px;
  }
  #incubator .col-lg-8 .col-6:nth-child(2), #incubator .col-lg-8 .col-6:nth-child(4) {
    padding-left: 7px;
    padding-bottom: 14px;
  }
  #incubator .col-lg-4 {
    padding: 0;
  }
  #incubator .col-lg-4 img {
    width: 40%;
  }
  #incubator .col-lg-4 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #caption {
    padding-bottom: 60px;
  }
  #caption .content_caption {
    margin: 0;
  }
  #caption .content_caption .row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  #caption .content_caption .row .img_caption1 {
    text-align: center;
    position: relative;
  }
  #caption .content_caption .row img {
    width: 80%;
  }
  #caption .content_caption .row .img_caption2 {
    bottom: -10%;
    left: 21%;
  }
  #caption .content_caption .row .img_caption2 img {
    width: 92%;
  }
  #caption .content_caption .row .col-lg-5 h5 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  #caption .content_caption .row .col-lg-5 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #caption .content_caption .row .col-lg-5,
  #caption .content_caption .row .col-lg-7 {
    padding: 0;
  }
  #news .title h2 {
    margin-top: 0;
  }
  #news .content_news .col-lg-8 {
    padding: 0;
    margin-bottom: 20px;
  }
  #news .content_news .col-lg-8 .form_img {
    height: 245px;
  }
  #news .content_news .col-lg-8 .form_img .title_news {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  #news .content_news .col-lg-8 .form_img .title_news h5 a {
    font-size: 16px;
    height: unset;
  }
  #news .content_news .col-lg-4 {
    padding: 0;
  }
  #news .content_news .col-lg-4 .form_img {
    height: unset;
  }
  #news .content_news .col-lg-4 .form_img:nth-child(1) {
    margin-bottom: 20px;
  }
  #news .content_news .col-lg-4 .form_img .title_news {
    bottom: 10px;
    left: 10px;
  }
  #news .content_news .col-lg-4 .form_img .title_news h5 {
    font-size: 14px;
  }
  #contact .title h2 {
    margin-top: 0;
  }
  #contact .content_contact .col-lg-4 {
    padding: 0;
  }
  #contact .content_contact .col-lg-4 h5 {
    font-size: 23px;
    margin-bottom: 10px;
  }
  #contact .content_contact .col-lg-4 .flex img {
    width: 5%;
    margin-right: 10px;
  }
  #contact .content_contact .col-lg-4 .flex p {
    margin: 0;
  }
  #contact .content_contact .col-lg-4 .flex_contact {
    margin-bottom: 10px;
  }
  #contact .content_contact .col-lg-4 .line2 {
    display: none;
  }
  #contact .content_contact .col-lg-4 .icon_contact {
    margin-top: 20px;
  }
  #contact .content_contact .col-lg-8 {
    padding: 0;
  }
  #contact .content_contact .col-lg-8 .form-control {
    margin-bottom: 15px;
  }
  #contact .content_contact .col-lg-8 form {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .title h2 {
    font-size: 30px;
  }
  #experts .c-slider__frame {
    height: 488px;
  }
  #experts .c-slider__item {
    max-width: 290px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    height: 100% !important;
    padding: 40px 0px;
  }
  .fp-tableCell {
    height: 100% !important;
    vertical-align: unset !important;
  }
  .title {
    margin-bottom: 20px;
  }
  .title h2 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 0;
  }
  .title h6 a {
    font-size: 16px;
  }
  .contact_sticky,
  .scroll_page {
    display: none;
  }
  .btn-hover {
    margin-bottom: 20px;
  }
  .col-12 {
    padding: 0;
  }
  #header {
    padding: 15px 38px;
  }
  #header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  #header img {
    width: 63%;
  }
  .float-nav ul:first-child {
    margin-right: 70px;
  }
  .float-nav li a {
    font-size: 40px !important;
  }
  #openning_page {
    height: 100vh !important;
  }
  #openning_page img {
    height: 100%;
  }
  #openning_page .col {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #openning_page .content_openning_page h5 {
    font-size: 30px;
  }
  #openning_page .content_openning_page h2 {
    font-size: 50px;
  }
  #openning_page .content_openning_page h6 {
    font-size: 16px;
  }
  #about .content_about .col-lg-6 {
    padding: 0;
  }
  #about .content_about .flex h5 {
    font-size: 16px;
  }
  #about .content_about .flex h6 {
    font-size: 14px;
  }
  #about .content_about .flex:last-child {
    margin-bottom: 15px;
  }
  #about .content_about h5 {
    font-size: 25px;
  }
  #about .content_about h5:nth-child(2) {
    margin-bottom: 10px;
  }
  #about .content_about h5 img {
    display: block;
  }
  #about .content_about img {
    display: none;
  }
  #about .content_about p {
    font-size: 14px;
  }
  #experts {
    padding-bottom: 60px;
  }
  #experts img {
    width: 100%;
  }
  #experts .c-slider__frame {
    height: 488px;
  }
  #experts .c-slider__item {
    max-width: 337px;
  }
  #experts .c-slider .scrollbar {
    width: 50%;
    bottom: -25px;
  }
  #courses {
    padding-bottom: 60px;
  }
  #courses .slide_courses {
    margin-top: 50px;
  }
  #courses .slide_courses .col-lg-7,
  #courses .slide_courses .col-lg-5 {
    padding: 0;
  }
  #courses .slide_courses .col-lg-5 img {
    width: 100%;
  }
  #courses .slide_courses h5 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex {
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex p {
    font-size: 12px;
  }
  #happitopia_hub .col {
    padding: 0;
  }
  #happitopia_hub .content_happitopia_hub h5 {
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: 0;
  }
  #happitopia_hub .content_happitopia_hub h2 {
    font-size: 38px;
  }
  #happitopia_hub .content_happitopia_hub p {
    font-size: 12px;
  }
  #happitopia_hub .content_happitopia_hub .plyr {
    width: 100%;
  }
  #incubator .row_incubator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #incubator .img_incubator_mobile {
    display: block;
  }
  #incubator .img_incubator_desktop {
    display: none;
  }
  #incubator .col-lg-8 {
    padding: 0;
  }
  #incubator .col-lg-8 img {
    width: 100%;
  }
  #incubator .col-lg-8 .col-6 {
    padding: 0;
  }
  #incubator .col-lg-8 .col-6:nth-child(1), #incubator .col-lg-8 .col-6:nth-child(3) {
    padding: 0px 7px 14px 0px;
  }
  #incubator .col-lg-8 .col-6:nth-child(2), #incubator .col-lg-8 .col-6:nth-child(4) {
    padding-left: 7px;
    padding-bottom: 14px;
  }
  #incubator .col-lg-4 {
    padding: 0;
  }
  #incubator .col-lg-4 img {
    width: 23%;
  }
  #incubator .col-lg-4 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #caption {
    padding-bottom: 110px;
  }
  #caption .content_caption {
    margin: 0;
  }
  #caption .content_caption .row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  #caption .content_caption .row .img_caption1 {
    text-align: center;
    position: relative;
  }
  #caption .content_caption .row img {
    width: 80%;
  }
  #caption .content_caption .row .img_caption2 {
    bottom: -10%;
    left: 21%;
  }
  #caption .content_caption .row .img_caption2 img {
    width: 92%;
  }
  #caption .content_caption .row .col-lg-5 h5 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #caption .content_caption .row .col-lg-5 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #caption .content_caption .row .col-lg-5,
  #caption .content_caption .row .col-lg-7 {
    padding: 0;
  }
  #news .title h2 {
    margin-top: 0;
  }
  #news .content_news .col-lg-8 {
    padding: 0;
    margin-bottom: 20px;
  }
  #news .content_news .col-lg-8 .form_img .title_news {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  #news .content_news .col-lg-8 .form_img .title_news h5 a {
    font-size: 18px;
    height: unset;
  }
  #news .content_news .col-lg-4 {
    padding: 0;
  }
  #news .content_news .col-lg-4 .form_img {
    height: 234px;
  }
  #news .content_news .col-lg-4 .form_img:nth-child(1) {
    margin-bottom: 20px;
  }
  #news .content_news .col-lg-4 .form_img .title_news {
    bottom: 10px;
    left: 10px;
  }
  #news .content_news .col-lg-4 .form_img .title_news h5 {
    font-size: 16px;
  }
  #contact .title h2 {
    margin-top: 0;
  }
  #contact .content_contact .col-lg-4 {
    padding: 0;
  }
  #contact .content_contact .col-lg-4 h5 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #contact .content_contact .col-lg-4 .flex img {
    width: 3%;
    margin-right: 10px;
  }
  #contact .content_contact .col-lg-4 .flex p {
    margin: 0;
  }
  #contact .content_contact .col-lg-4 .flex_contact {
    margin-bottom: 10px;
  }
  #contact .content_contact .col-lg-4 .line2 {
    display: none;
  }
  #contact .content_contact .col-lg-4 .icon_contact {
    margin-top: 20px;
  }
  #contact .content_contact .col-lg-8 {
    padding: 0;
  }
  #contact .content_contact .col-lg-8 .form-control {
    margin-bottom: 15px;
  }
  #contact .content_contact .col-lg-8 form {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .container {
    max-width: 1366px;
  }
  .title h2 {
    font-size: 100px;
  }
  #openning_page .content_openning_page h5 {
    font-size: 40px;
  }
  #openning_page .content_openning_page h2 {
    font-size: 80px;
  }
  #openning_page .content_openning_page h6 {
    font-size: 20px;
  }
  #about .title h2 {
    margin-bottom: 90px;
  }
  #about .content_about .col-lg-6 {
    padding: 0;
  }
  #about .content_about .flex h5 {
    font-size: 18px;
  }
  #about .content_about h5 {
    font-size: 43px;
  }
  #about .content_about h5:nth-child(2) {
    margin-bottom: 40px;
  }
  #about .content_about h5 img {
    display: block;
    margin-bottom: 100px;
  }
  #about .content_about img {
    margin-bottom: 40px;
  }
  #about .content_about p {
    font-size: 16px;
  }
  #experts .title h2 {
    margin: 0;
  }
  #experts .c-slider__frame {
    height: 585px;
  }
  #experts .c-slider__item {
    max-width: 298px;
  }
  #experts .c-slider__item h6 {
    font-size: 21px;
  }
  #experts .c-slider__item h5 {
    font-size: 16px;
  }
  #experts .c-slider .scrollbar {
    width: 50%;
    bottom: -30px;
  }
  #courses .title h2 {
    margin-top: 0px;
    margin-bottom: 60px;
  }
  #courses .slide_courses .col-lg-5 img {
    width: 100%;
  }
  #courses .slide_courses h5 {
    font-size: 43px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex {
    margin-bottom: 56px;
  }
  #courses .slide_courses .flex p {
    font-size: 14px;
    margin: 0;
    max-width: 100%;
  }
  #courses .slide_courses p {
    margin-bottom: 52px;
    max-width: 80%;
  }
  #courses .slick-dots {
    bottom: -82px;
  }
  #happitopia_hub .content_happitopia_hub h5 {
    font-size: 31px;
    letter-spacing: 30px;
    margin-bottom: 20px;
  }
  #happitopia_hub .content_happitopia_hub h2 {
    font-size: 61px;
    margin-bottom: 33px;
  }
  #happitopia_hub .content_happitopia_hub p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #happitopia_hub .content_happitopia_hub .plyr {
    width: 58%;
  }
  #incubator .col-lg-4 img {
    width: 55%;
    margin-bottom: 80px;
  }
  #incubator .col-lg-4 p {
    line-height: 30px;
  }
  #incubator .col-lg-8 img {
    width: 86%;
  }
  #incubator .col-lg-8 .img_incubator2 {
    left: 47%;
  }
  #incubator .col-lg-8 .img_incubator3 {
    right: -5%;
  }
  #caption .title h2 {
    margin-bottom: 80px;
  }
  #caption .content_caption .col-lg-5 h5 {
    font-size: 43px;
    margin-bottom: 60px;
  }
  #caption .content_caption .col-lg-5 p {
    line-height: 30px;
    margin-bottom: 60px;
  }
  #news .title h2 {
    margin: 0;
    margin-bottom: 60px;
  }
  #news .content_news .col-lg-8 .form_img {
    height: 500px;
  }
  #news .content_news .col-lg-4 .form_img {
    height: 233px;
  }
  #news .content_news .col-lg-4 .form_img .title_news h5 a {
    font-size: 20px !important;
  }
  #news .content_news .col-lg-4 .form_img .title_news p {
    font-size: 14px;
  }
  #contact .title h2 {
    margin: 0;
    margin-bottom: 90px;
  }
  #contact .content_contact {
    color: #ffffff;
  }
  #contact .content_contact .col-lg-4 .line1 {
    margin: 0px 0px 50px;
  }
  #contact .content_contact .col-lg-4 h6 {
    font-size: 16px;
  }
  #contact .content_contact .col-lg-4 p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  #contact .content_contact .col-lg-4 .line2 {
    margin-bottom: 30px;
  }
  #contact .content_contact .col-lg-4 .icon_contact p {
    font-size: 14px;
  }
  #contact .content_contact .col-lg-4 .icon_contact a {
    color: #ffffff;
  }
  #contact .content_contact .col-lg-4 .icon_contact i {
    font-size: 20px;
    margin-right: 30px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #contact .content_contact .col-lg-4 .icon_contact i:hover {
    color: #2EBD7F;
  }
  #contact .content_contact .col-lg-8 textarea {
    height: 130px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
  .btn-nav-container {
    width: 110px;
  }
  #header img {
    max-width: 100% !important;
  }
  #header .open,
  #header .close_navmenu {
    font-size: 20px !important;
  }
  .title h2 {
    font-size: 100px;
  }
  #openning_page .content_openning_page h5 {
    font-size: 40px;
  }
  #openning_page .content_openning_page h2 {
    font-size: 80px;
  }
  #openning_page .content_openning_page h6 {
    font-size: 20px;
  }
  #about .title h2 {
    margin-bottom: 90px;
  }
  #about .content_about .col-lg-6 {
    padding: 0;
  }
  #about .content_about .flex h5 {
    font-size: 18px;
  }
  #about .content_about h5 {
    font-size: 43px;
  }
  #about .content_about h5:nth-child(2) {
    margin-bottom: 40px;
  }
  #about .content_about h5 img {
    display: block;
    margin-bottom: 100px;
  }
  #about .content_about img {
    margin-bottom: 40px;
  }
  #about .content_about p {
    font-size: 16px;
  }
  #experts .title h2 {
    margin: 0;
  }
  #experts .c-slider__frame {
    height: 658px;
  }
  #experts .c-slider__item {
    max-width: 314px;
    margin: 0px 42px;
  }
  #experts .c-slider__item h6 {
    font-size: 21px;
  }
  #experts .c-slider__item h5 {
    font-size: 16px;
  }
  #experts .c-slider .scrollbar {
    width: 30%;
    bottom: -95px;
  }
  #courses .title h2 {
    margin-top: 0px;
    margin-bottom: 100px;
  }
  #courses .slide_courses .col-lg-5 img {
    width: 100%;
  }
  #courses .slide_courses h5 {
    font-size: 43px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  #courses .slide_courses .flex {
    margin-bottom: 56px;
  }
  #courses .slide_courses .flex p {
    font-size: 14px;
    margin: 0;
    max-width: 100%;
  }
  #courses .slide_courses p {
    margin-bottom: 52px;
    max-width: 80%;
  }
  #courses .slick-dots {
    bottom: -82px;
  }
  #happitopia_hub .content_happitopia_hub h5 {
    font-size: 31px;
    letter-spacing: 30px;
    margin-bottom: 20px;
  }
  #happitopia_hub .content_happitopia_hub h2 {
    font-size: 61px;
    margin-bottom: 33px;
  }
  #happitopia_hub .content_happitopia_hub p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #happitopia_hub .content_happitopia_hub .plyr {
    width: 58%;
  }
  #incubator .col-lg-4 img {
    width: 55%;
    margin-bottom: 80px;
  }
  #incubator .col-lg-4 p {
    line-height: 30px;
  }
  #incubator .col-lg-8 img {
    width: 100%;
  }
  #incubator .col-lg-8 .img_incubator2 {
    left: 47%;
  }
  #incubator .col-lg-8 .img_incubator3 {
    right: -2%;
  }
  #caption .title h2 {
    margin: 0;
    margin-bottom: 120px;
  }
  #caption .content_caption .col-lg-5 h5 {
    font-size: 43px;
    margin-bottom: 60px;
  }
  #caption .content_caption .col-lg-5 p {
    line-height: 30px;
    margin-bottom: 60px;
  }
  #news .title h2 {
    margin: 0;
    margin-bottom: 100px;
  }
  #news .content_news .col-lg-8 .form_img {
    height: 556px;
  }
  #news .content_news .col-lg-4 .form_img {
    height: 261px;
  }
  #news .content_news .col-lg-4 .form_img .title_news h5 a {
    font-size: 20px !important;
  }
  #news .content_news .col-lg-4 .form_img .title_news p {
    font-size: 14px;
  }
  #contact .title h2 {
    margin: 0;
    margin-bottom: 100px;
  }
  #contact .content_contact {
    color: #ffffff;
  }
  #contact .content_contact .col-lg-4 .line1 {
    margin: 0px 0px 50px;
  }
  #contact .content_contact .col-lg-4 h6 {
    font-size: 16px;
  }
  #contact .content_contact .col-lg-4 p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  #contact .content_contact .col-lg-4 .line2 {
    margin-bottom: 30px;
  }
  #contact .content_contact .col-lg-4 .icon_contact p {
    font-size: 14px;
  }
  #contact .content_contact .col-lg-4 .icon_contact a {
    color: #ffffff;
  }
  #contact .content_contact .col-lg-4 .icon_contact i {
    font-size: 20px;
    margin-right: 30px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #contact .content_contact .col-lg-4 .icon_contact i:hover {
    color: #2EBD7F;
  }
  #contact .content_contact .col-lg-8 input,
  #contact .content_contact .col-lg-8 select {
    height: 60px;
  }
  #contact .content_contact .col-lg-8 textarea {
    height: 150px;
  }
}
/*# sourceMappingURL=happitopia.css.map */